.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-site{
  background-color: #f3f3f3;
}
.btn-img-size{
  height:4rem;
  width: 8rem;
}
.menu-logo-size{
}
.menu-logo-size img{
  height: 2rem;
  width: 3rem;
}
hr{
  height: 1px !important;
  background-color: #9a9a9a83 !important;
  border: none;
}
.active{
  color: black;
  background-color: rgb(235, 235, 235);
  margin-left: 0;
  padding: 8px 16px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}